[Unit]
Description=ASF Infrastructure Event Stream Processor

[Service]
Type=simple
WorkingDirectory=/var/app/current/esp
ExecStart=poetry run hypercorn main:app -b 127.0.0.1:8000
Restart=always
User=webapp

[Install]
WantedBy=multi-user.target
